@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: linear-gradient(to bottom, #0d1b2a, #1b263b);
  position: relative;
  margin: 0; /* Ensure there's no default margin */
  padding: 0;
}

